<phpunit bootstrap="bootstrap.php" colors="true" stopOnFailure="true">
    <testsuites>
        <testsuite name="php-sdk">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <file>Authentication.php</file>
        </blacklist>
    </filter>
</phpunit>
